#sidebar {
    display: grid;
    grid-template-rows: 0fr 1fr 4fr;
    position: relative;
    padding: 2vh 1.3vw; 
    background-color: var(--primary-color);
    /* box-shadow: 2px 0 5px  rgba(0, 0, 0, 0.5); */
    gap: 2vh;
    border-right: 2px solid var(--bold-color);
}

#sidebar .container {
    display: flex;
    align-items:start;
    justify-content: space-between;
}

#sidebar .container .create-task-btn {
    flex-basis: 75%;
    height: 4vh;
    background-color: var(--bold-color);
    color: var(--primary-white);
    border: none;
    /* border-radius: 15px; */
    font-size: 0.9rem;
    font-weight: bold;
} 

#sidebar .lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sidebar .lists .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-size: large;
    border-radius: 5px;
}

#sidebar .lists .list:hover {
    cursor: pointer;
    background-color: #00000038;
}

#sidebar .lists-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#sidebar .create-list-btn {
    background-color: var(--bold-color);
    border: none;
    color: var(--primary-white);
    padding: 4px 8px;
    border-radius: 10px;
    height: 30px;
}

#sidebar .list {
    padding: 3px 6px;
}

#sidebar .user-lists button {
    background-color: var(--accent-color);
    border: none;
    padding: 4px 8px;
    border-radius: 10px;
}

.create-list-form {
    display: flex;
    flex-direction: column;
}